<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="fileLogger" fileName="example-log.log" filePattern="example-log-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE" additivity="false" >
            <appender-ref ref="console"    level="INFO" />
            <appender-ref ref="fileLogger" level="ERROR"  />
        </Root>
        <Logger name="gov.goias.example.log" level="TRACE" additivity="false">
            <appender-ref ref="console" level="INFO" />
            <Appender-ref ref="fileLogger" level="ERROR" />
        </Logger>
    </Loggers>
</Configuration>